/* ------------------- FONT CUSTOM SIZE --------------------- */

/* Adjusts the font size of headings */
h1 {
    font-size: 1.5em /* Adjust the value as needed */
}

/* Adjusts the font size of headings */
h2, h3 {
    font-size: 1.1em; /* Adjust the value as needed */
}

/* Adjusts the font size of headings */
h4, h5, h6 {
    font-size: 1.0em; /* Adjust the value as needed */
}

/* Adjusts the font size of the main text */
body {
    font-size: 14px; /* Adjust the value as needed */
}

/* Adjusts the font size of links and other elements */
a {
    font-size: 14px; /* Adjust the value as needed */
}


/* ----------------------- CARD IMAGES ---------------------------- */
.card {
    background-color: #362a28; /* Dark background color similar to the Dracula theme */
    border: 1px solid #44475a; /* Subtle border to highlight the card */
    border-radius: 8px; /* Rounded corners */
    color: #f8f8f2; /* Text color to ensure readability */
    transition: background-color 0.3s ease, border-color 0.3s ease;
    padding-top: 1rem; /* Top padding to space the image from the top of the card */
}

.card-img-top {
    width: 100%; /* Image width will occupy 100% of the card container */
    height: auto; /* Height will adjust automatically to maintain aspect ratio */
    max-height: 150px; /* Maximum image height, adjustable as needed */
    object-fit: contain; /* Adjusts the image to fit inside the container without cropping */
}

.card-title {
    color: #f8f8f2; /* Card title color */
}

.card-text {
    color: #f8f8f2; /* Card text color */
}

.card-body {
    padding: 1rem;
}
