/* ------------------- FONT CUSTOM SIZE --------------------- */

/* Ajusta o tamanho da fonte do título */
h1, h2, h3, h4, h5, h6 {
    font-size: 1.0em; /* Ajuste o valor conforme necessário */
}

/* Ajusta o tamanho do texto principal */
body {
    font-size: 14px; /* Ajuste o valor conforme necessário */
}

/* Ajusta o tamanho do texto dos links e outros elementos */
a {
    font-size: 14px; /* Ajuste o valor conforme necessário */
}


/* ----------------------- CARD IMAGES ---------------------------- */
.card {
    background-color: #282a36; /* Cor de fundo escura semelhante ao tema Dracula */
    border: 1px solid #44475a; /* Borda sutil para destacar o card */
    border-radius: 8px; /* Cantos arredondados */
    color: #f8f8f2; /* Cor do texto para garantir legibilidade */
    transition: background-color 0.3s ease, border-color 0.3s ease;
    padding-top: 1rem; /* Padding superior para afastar a imagem do topo do card */
}

.card-img-top {
    width: 100%; /* Largura da imagem ocupará 100% do container do card */
    height: auto; /* Altura será ajustada automaticamente para manter a proporção */
    max-height: 150px; /* Altura máxima da imagem, ajustável conforme necessário */
    object-fit: contain; /* Ajusta a imagem para caber dentro do container sem cortar */
}

.card-title {
    color: #f8f8f2; /* Cor do título do card */
}

.card-text {
    color: #f8f8f2; /* Cor do texto do card */
}

.card-body {
    padding: 1rem;
}
